import 'package:flutter/material.dart';

void main() {
  runApp(Sandeep());
}

class Sandeep extends StatelessWidget {
  const Sandeep({super.key});

  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      home: Scaffold(
        backgroundColor: Colors.red,
        body: SafeArea(
          child: Row(
            crossAxisAlignment: CrossAxisAlignment.stretch,
            children: [
              SizedBox(width: 30),
              Container(
                width: 50.0,
                color: Colors.amber,
                child: Text("Container 1"),
              ),
              SizedBox(width: 30),
              Container(
                width: 50.0,
                color: const Color.fromARGB(255, 105, 102, 92),
                child: Text("Container 2"),
              ),
              SizedBox(width: 30),
              Container(
                width: 50.0,
                color: const Color.fromARGB(255, 3, 2, 1),
                child: Text("Container 3"),
              ),
            ],
          ),
        ),
      ),
    );
  }
}
